@use "../utils/functions" as fn;
@use "../utils//mixins" as mx;
@use "../utils/variables" as var;

/* common for contents */

.content{

    &Container{
        justify-content: space-between;
        @include mx.disFlex;
    }

    &Title{
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: -0.02em;
    @include mx.adaptive-font(20px, 28px, 28px);}

    @include mx.tablet{
        letter-spacing: 0.02em;
    }

    &ArrowsWrap{
        display: flex;
        gap: 8px;
    }

    &Arrows {
        cursor: pointer;
    svg {
        width: 28px;
        height: 28px;

        @include mx.tablet{
            width: 32px;
            height: 32px;  
        }
      }

      &:disabled{
        cursor: default;
        color: fn.get-color("input-label");
    }
    &:hover{
        color: fn.get-color("input-label");
    }
    }

}


/* contents for recommended page */

.contentRecom{
    margin-top: 22px;
display: grid;
gap: 20px;
grid-template-columns: repeat(2, 1fr);
letter-spacing: -0.02em;

@include mx.tablet{
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
    row-gap: 27px;
}

@include mx.desktop{grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;}


    &Wrap{
        width: 137px;
    }

    &Img{
        border-radius: 8px;
width: 100%;
height: 208px;
object-fit: cover;
margin-bottom: 8px;


    
    }

    &Title{
        font-weight: 700;
font-size: 14px;
line-height: 1.29;
margin-bottom: 2px;

  
        @include mx.ellipsis;
    }
    

    &Author{
        font-weight: 500;
font-size: 12px;
line-height: 1.2;
        
        @include mx.ellipsis;
        color: fn.get-color("input-label");
    
    }  
}

/* contents for my library page */

.custom-select__control {
    background-color: transparent !important;
    border-radius: 12px !important;
    border: 1px solid #3e3e3e !important;
    min-height: 40px !important;
    min-width: 120px !important;
    cursor: pointer !important;
    padding: 4px 12px !important;
    box-shadow: none !important;
line-height: 1.33333 !important;
letter-spacing: -0.02em !important;

@include mx.tablet{
    min-height: 46px !important;
    min-width: 153px !important;
}
  }
  
  .custom-select__single-value {
    color: fn.get-color("text-primary") !important;}

.custom-select__indicator-separator {
        display: none !important;
      }

      .custom-select__dropdown-indicator {
        color: fn.get-color("text-primary")!important;
      }

      .custom-select__menu {
        margin: 4px !important;
        padding: 0 !important;
        background-color: transparent !important;

        @include mx.tablet{
            margin: 8px !important;
        }
      }

      .custom-select__menu-list {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        border-radius: 12px !important;
      }
  
  .custom-select__option {
    padding: 8px 12px;
    cursor: pointer;
    background: fn.get-color("background-input") !important;
    color: fn.get-color("input-label") !important;

  }
  

  .custom-select__option--is-focused {
    background-color: fn.get-color("text-primary")!important;
    color: fn.get-color("background-input") !important;
  }
  
.myLibrary{
    &Del{
    justify-content: space-between;
       @include mx.disFlex; 
    }

    &Wrap{
        max-width: 95px;
    }

    &Btn{
        width: 28px;
height: 28px;
border-radius: 100%;
border: 1px solid rgba(232, 80, 80, 0.1);
background-color: rgba(232, 80, 80, 0.2);

@include mx.disFlexFull;

svg{
    color: #e85050;
}
    }

}

/* contents for my reading page */

.reading{

    &Content{
        margin-top: 40px;
        flex-direction: column;
        text-align: center;
        letter-spacing: -0.02em;

        @include mx.disFlexFull;

        @include mx.tablet{
            margin-top: 32px; 
        }

        @include mx.desktop{
            margin-top: 44px;
            margin-bottom: 33px; 
        }
    }


        &Img{
            width: 137px;
height: 208px;
            border-radius: 8px;
            object-fit: cover;
            margin-bottom: 10px;

            @include mx.tablet{
                width: 169px;
                height: 256px;
                margin-bottom: 25px; 
            }

            @include mx.desktop{
                width: 224px;
height: 340px;
            }
        }



    &Title{
        font-weight: 700;
font-size: 14px;
line-height: 1.29;
margin-bottom: 5px;

@include mx.tablet{
    font-size: 20px;
    line-height: 1;
    margin-bottom: 4px;
}

    }
    

    &Author{
        font-weight: 500;
font-size: 12px;
line-height: 1.2;
        color: fn.get-color("input-label");
        margin-bottom: 20px;

        @include mx.tablet{
            font-size: 14px;
line-height: 1.29;
margin-bottom: 16px;
        }

        @include mx.desktop{
margin-bottom: 25px;
        }
    } 
    
    &Btn{
        margin: 0 auto;
        width: 40px;
        height: 40px;
    

    @include mx.tablet{
        width: 50px;
        height: 50px;
    }
}
}





