@use "../utils/functions" as fn;
@use "../utils//mixins" as mx;
@use "../utils/variables" as var;

/* common for contents */

.content{

    &Container{
        justify-content: space-between;
        @include mx.disFlex;
    }

    &Title{
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: -0.02em;
    @include mx.adaptive-font(20px, 28px, 28px);}

    @include mx.tablet{
        letter-spacing: 0.02em;
    }

    &ArrowsWrap{
        display: flex;
        gap: 8px;
    }

    &Arrows {
        cursor: pointer;
    svg {
        width: 28px;
        height: 28px;

        @include mx.tablet{
            width: 32px;
            height: 32px;  
        }
      }

      &:disabled{
        cursor: default;
        color: fn.get-color("input-label");
    }
    &:hover{
        color: fn.get-color("input-label");
    }
    }

}


/* contents for recommended page */

.contentRecom{
    margin-top: 22px;
display: grid;
gap: 20px;
grid-template-columns: repeat(2, 1fr);
letter-spacing: -0.02em;

@include mx.tablet{
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
    row-gap: 27px;
}

@include mx.desktop{grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;}


    &Wrap{
        width: 137px;
    }

    &Img{
        border-radius: 8px;
width: 100%;
height: 208px;
object-fit: cover;
margin-bottom: 8px;


    
    }

    &Title{
        font-weight: 700;
font-size: 14px;
line-height: 1.29;
margin-bottom: 2px;

  
        @include mx.ellipsis;
    }
    

    &Author{
        font-weight: 500;
font-size: 12px;
line-height: 1.2;
        
        @include mx.ellipsis;
        color: fn.get-color("input-label");
    
    }  
}




