@use "../utils/functions" as fn;
@use "../utils//mixins" as mx;
@use "../utils/variables" as var;


/* common for dashboard and aside */
.dashboardMain{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 10px;

    @include mx.tablet{
        &{
      gap: 16px;
        }
    }

    @include mx.desktop{
        &{
        grid-template-columns: 1fr 2fr;
        min-height: 80vh;
        }
    }


}

.aside{
    padding: 20px; 
    @include mx.frame;

    @include mx.tablet{
        &{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        padding: 32px; 
        }
    }

    @include mx.desktop{
        &{
        display: block;
        padding: 40px 20px 20px;}
    }
}

/* filters part of dashboard's aside */
.dashTitleForm{
    margin-bottom: 8px;
    @include mx.adaptive-font(10px, 14px, 14px);
}

.dashInputs{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dashInputsWrap{
   position: relative;
   @include mx.form-input;
 
   &Label{
    &{
    position: absolute;
    left: 14px;
    top: 14px;
    bottom: 14px;
    color: fn.get-color("input-label");
    }

    @include mx.tablet{
        &{
        top: 16px;
        bottom: 16px;}
    };
   }

   &Error{
    &{
    padding-left: 14px;
    color: fn.get-color("wrong")
    }
   }

   &Title{
    &{
    padding-left: 56px;
    width: 100%;}

    @include mx.tablet{
        &{
        padding-left: 64px;
        }
    };
   }

   &Author{
    &{
    padding-left: 64px;
    width: 100%;}
    
    @include mx.tablet{
        &{
        padding-left: 72px;
        }
    };
   }

   &Number{
    &{
    padding-left: 98px;
    width: 100%;}
    
    @include mx.tablet{
        &{
        padding-left: 110px;
        }
    };
   }

   &Page{
    &{
    padding-left: 78px;
    width: 100%;
    }
    
    @include mx.tablet{
        &{
        padding-left: 88px;
        }
    };}
}


   .dashBtm{
    margin-top: 20px;
    @include mx.common-btn;
   }



   /* workOut part of dashboard's aside */

   .dashBlockFrame{
    margin-top: 20px;
    border-radius: 12px;
    background: fn.get-color("background-input");
    padding: 20px;

    @include mx.tablet{
        &{
        margin-top: 0;
        }
    }

    @include mx.desktop{
        &{
        margin-top: 20px;
        margin-bottom: 20px;
        }
    }
   }

   .dashTitle{
    font-weight: 700;
@include mx.adaptive-font(18px, 20px, 20px);
   }

.workOut{
    &List{
        &{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;}

        @include mx.tablet{
            &{
            margin-top: 40px;
        margin-bottom: 26px;
            }
        }
    }

&Item{
    &{
    display: flex;
    gap: 14px;}

    @include mx.tablet{
        &{
        gap: 12px;}
    }
}

&NumWrap{
    &{
    position: relative;
    border-radius: 50%;
    width: 40px;
height: 40px;
flex-shrink: 0;
background-color: fn.get-color("text-primary");
color: fn.get-color("background-accent");}

@include mx.tablet{&{
    width: 44px;
height: 44px;}
}
}

&Num{
    &{
    position: absolute;
    top: 11px;
    left: 16px;}

    @include mx.tablet{&{
        top: 13px;
        left: 18px;
    }
    }
}

&Span{
    &{
    color: fn.get-color("input-label");}
}

&LinkWrap{
    &{
    justify-content: space-between; 
    @include mx.disFlex; 
    }
}

&Link{&{
    text-decoration: underline;
    color: fn.get-color("input-label");

    &:hover{
        color: fn.get-color("text-primary");
    }
}
}

&Arrow{
    &{
    &:hover{
        color: fn.get-color("text-span");
    }
}}
   }


/* quote part of dashboard's aside */

.dashQuote{
    display: none;

    @include mx.desktop{
        &{
        @include mx.disFlex;

        gap: 14px;
        border-radius: 12px;
        padding: 15px 20px;
        background: fn.get-color("background-input");
        color: fn.get-color("input-label");

        &Span{
            color: fn.get-color("text-primary");
        }
    }
    }

}

/* recommBook part of dashboard's aside */

.dashReccom{
    &List{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 14px;
        margin-bottom: 17px;
        font-size: 10px;

        @include mx.tablet{
            &{
            margin-top: 20px;
            margin-bottom: 20px;} 
        }
    }

    &Img{
        &{
        border-radius: 10px;
        margin-bottom: 8px;
        }
    }

    &Wrap{
        &{
        width: 71px;
        }
    }

    &Title{
        &{
        @include mx.ellipsis;

        font-weight: 700;
        margin-bottom: 2px;
        }
    }

    &Author{
        &{
        @include mx.ellipsis;

        font-weight: 500;
        color: fn.get-color("input-label");
        }
    }
}

/* progress part of dashboard's aside */
.dashProg{

    &Frame{
    margin-top: 40px;
    margin-bottom: 20px;
    

    @include mx.tablet{&{
        margin-top: 0;
        margin-bottom: 52;
    }
        
    }

    @include mx.desktop{
        &{
        margin-top: 40px;}
    }}

    &Title{
        &{
        color: fn.get-color("input-label");
        margin-top: 14px;
        margin-bottom: 20px;}

        @include mx.tablet{&{
            margin-bottom: 50px;}
        }

        @include mx.desktop{&{
            margin-top: 9px;
            margin-bottom: 65px;}
        }
    }

    &Wrap{
        &{
        margin: 0 auto;
        width: 80px;
        height: 80px;
        padding: 24px;
        border-radius: 100%;
        background-color: fn.get-color("background-input");}

        @include mx.tablet{
            &{
            width: 100px;
        height: 100px;
        padding: 15px 25px;
            }
        }
    }
}

.statistic{
    &Bar{
        margin-top: 40px;
        justify-content: space-between;

        @include mx.disFlex;
    }

    &Wrap{
        gap: 8px;

        @include mx.disFlex;

        img {
            width: 16px;
    height: 16px;
    }
        button {
            width: 38px;
    height: 38px;
    border-radius: 50%;
            cursor: pointer;

            @include mx.disFlexFull;
    

            &:disabled{
             border: 1px solid  fn.get-color("input-label");
             background-color: fn.get-color("background-input");
            }
        }
    }
}






