@use "../utils/functions" as fn;
@use "../utils//mixins" as mx;
@use "../utils/variables" as var;

/* common for modal */

.modal{
   &Backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(20, 20, 20, 0.6);
        z-index: 999;

        @include mx.disFlexFull;
      }
      
      &Content {
        background: fn.get-color("background-accent");
        border: 1px solid rgba(104, 104, 104, 0.2);
border-radius: 12px;
        padding: 16px;
        position: relative;
        margin: 20px;
      }
      
      &Close {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;

        &:hover{
            color: fn.get-color("input-label");
        }

        svg{
            width: 22px;
        height: 22px;
        }
      }

    }

.no-scroll {
        overflow: hidden;
      }

.modalContent{
    &Wrap{
        letter-spacing: -0.02em;
        padding: 20px 78px;
        flex-direction: column;
        text-align: center;

        @include mx.disFlexFull;

        @include mx.tablet{
            padding: 30px 154px;
        }
    }

    &Img{border-radius: 8px;
        width: 140px;
        height: 213px;
    object-fit: cover;
margin-bottom: 16px;

@include mx.tablet{
    width: 153px;
    height: 233px;
}
}

    &Title{font-weight: 700;
        line-height: 1;
        margin-bottom: 6px;

        @include mx.adaptive-font(18px, 20px, 20px);
        }

    &Author{
        font-weight: 500;
line-height: 1.17;
color: fn.get-color("input-label");
margin-bottom: 8px;

@include mx.adaptive-font(12px, 14px, 14px);

@include mx.tablet{
line-height: 1.29;
}

    }
    
    &Page{
        font-weight: 500;
font-size: 10px;
line-height: 1.2;
        margin-bottom: 20px;

        @include mx.tablet{
     margin-bottom: 32px;
        }
    }

    &Btn{
        @include mx.common-btn;
    }
}

    
      
      
