@use "../utils/functions" as fn;
@use "../utils//mixins" as mx;
@use "../utils/variables" as var;


.primary{
    @include mx.frame; 

    padding: 40px 20px 20px;
    max-width: 335px;

    @include mx.tablet{
        padding: 40px; 
        max-width: 704px;
    }

    @include mx.desktop{
        padding: 40px 20px 20px;
        max-width: 847px;
    }
}