@use "sass:map";
@use "variables" as var;

@function get-color($key) {
  @return map.get(var.$colors, $key);
}

@function get-font-size($key) {
    @return map.get(var.$font-sizes, $key);
  }
  
@function get-font-weight($key) {
    @return map.get(var.$font-weights, $key);
  }
  


  