@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

body {
  font-family: var.$main-font;
    background-color: fn.get-color("background");
    @include mx.main-text;
    @include mx.container;
  }


  button {
    cursor: pointer;
    font-family: inherit;
  }

  img{
    object-fit:contain;
    display: block;
  }

  input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: fn.get-color("text-primary");;
  transition: background-color 5000s ease-in-out 0s;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

